<h2 class="text-white mb-4">Big step in our learning process</h2>
<p class="text-white-50">Using Grayscale free template we present you The Gossip Project. In order to manage databases and get used to bootstrap and rails, this site allows you to (in a near future) register as a user, create and save your own gossip, see stored gossips and manage them, send private messages, like and comment posts. And, for the moment, see overall datas.</p>
